@import url("https://fonts.googleapis.com/css2?family=Cute+Font&family=DM+Mono:wght@500&display=swap");

:root {
  --card-gradient: radial-gradient(circle, #3e4545 42%, #232525 96%);
  --card-numbers: #c6bda8;
  --gold: #c9b479;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9fafb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
}

img {
  display: inline-block;
  width: 100%;
}

label {
  font-family: "DM Mono", monospace;
  color: #fff;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.payment__card {
  /* border: solid red; */
  max-width: 400px;
  margin: auto;
  margin-top: 2rem;
  border-radius: 0.8rem;
  padding: 1.5rem;
  padding-top: 0;
  background: var(--card-gradient);
}

.card__header {
  display: flex;
  /* border: solid blue; */
  justify-content: space-between;
  align-items: center;
}

.card__body {
  /* border: solid yellow; */
  margin: 1rem 0;
}

.card__footer {
  display: flex;
  justify-content: space-between;
  /* border: solid blue; */
}

/* .card-holder {
  border: solid red;
} */

.expiration {
  /* border: solid green; */
  width: 22%;
  /* margin-left: 2rem; */
  align-self: flex-start;
}

.card-input {
  padding: 0.5rem;
  text-align: center;
  font-size: 1.5rem;
  color: var(--gold);
  background-color: transparent;
  border: none;
  font-family: "Cute Font", cursive;
}

.card__back {
  max-width: 400px;
  margin: auto;
  margin-top: 2rem;
  border-radius: 0.8rem;
  padding: 1.5rem;
  padding-top: 0.4rem;
  background: var(--card-gradient);
  display: none;
}

.card-stripe {
  border: solid black;
  height: 25%;
  padding: 1rem;
  margin-top: 2rem;
  background-color: black;
}

.card-verification {
  text-align: right;
  margin: 0.5rem 0;
}

.card__back-logo {
  text-align: right;
}

.logo {
  width: 16%;
  /* border: solid purple; */
}

#card-name {
  width: 90%;
  text-align: left;
}

#chip {
  width: 10%;
  /* border: solid green; */
}

#card-numbers {
  width: 100%;
}

#card-expiration {
  width: 100%;
}

#cvv {
  width: 100%;
  padding: 0.4rem;
}

/* The Form */
.container {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 500px;
}

.payment__form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  display: block;
}
